body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000 !important;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 47.62%
  );
}

.container {
  margin: 0 auto;
  padding-top: 45px;
  width: 1150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

p {
  width: 347px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.action-output {
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}

.add-action-btn {
  width: 500px;
  height: 60px;
  flex-shrink: 0;
  font-size: 40px;
  line-height: normal;
  background: #0094ff;
  border-radius: 10px;
  cursor: pointer;
}

.add-action-btn:hover {
  background: #fff;
}

.js-img-from-api {
  width: auto;
  max-width: 500px;
  border-radius: 10px;
}
